<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldMagenta(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{36}) - %boldYellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info" />
    <logger name="ssia" level="debug" />
    <logger name="org.jline" level="error" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>