<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <div>
        <form action="/products/add" method="post">
            <span>Name:</span>
            <span><input type="text" name="name" autofocus/></span>
            <span><button type="submit">Add</button></span>
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
        </form>
    </div>
    <div style="margin-top: 21px">
        <label style="color:#FF2200" th:text="${itemAdded}"> </label>
    </div>
</body>

</html>
